@import "tailwindcss";

@theme {
    --color-primary: #00B8DB;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}